/* Responsive Container for the Analog Clock */

.analog-clock-container {
  width: 100%; /* Make the container fill the parent width */
  max-width: 250px; /* Limit the maximum size */
  min-width: 100px; /* Ensure it doesn't get too small */
  height: auto; /* Allow the height to adjust accordingly */
  aspect-ratio: 1; /* Maintain a square aspect ratio */
}

#analogClock {
  display: block;
  width: 100%; /* Make sure the canvas scales with the container */
  height: auto;
  border-radius: 50%; /* To keep the clock in a perfect circular shape */
  box-shadow: 0 4px 12px rgba(156, 114, 114, 0.1);
  border: 6px solid black !important; /* Clock border */
  background: radial-gradient(
    circle,
    black,
    black
  ); /* Subtle gradient for depth */
  position: relative;
  z-index: 1; /* Ensures that numbers and hands are on top */
}

canvas:not(#analogClock) {
  box-shadow: none;
  border: none;
}

canvas.no-darkreader {
  filter: none !important; /* Disable Dark Reader's color inversion */
}
