/* Styling the current time */
#current-time {
  font-size: 3rem; /* Larger font for better visibility */
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  word-wrap: break-word;
  transition: opacity 0.3s ease-in-out; /* Smooth transition on time change */
}

/* Responsiveness for smaller devices */
@media (max-width: 768px) {
  #current-time {
    font-size: 2rem; /* Smaller font for smaller screens */
  }
}

@media (max-width: 480px) {
  #current-time {
    font-size: 1.8rem; /* Adjust font size further for very small screens */
  }
}
